
.contact-section{
    background: #00bfa6;
    height: 630px;
    padding: 50px;
    overflow: hidden;
}
.container{
    padding: 100px;
    background: white;
    border-radius: 15px;
    background: linear-gradient(95deg, #fbfbfbe8, #ffffff00);
    box-shadow: 10px 10px 20px #19d0b8, -10px -10px 20px #00dabd;
}

.form-control {

    padding: 1rem .75rem;
    border-radius: 10px;
    background: linear-gradient(
    145deg, #ffffff, #00ccb2);
    box-shadow: 10px 10px 20px #00a48f, -10px -10px 20px #00dabd;
    border: none;
}

.form-control:focus {
    color: #000000;
    background-color: rgba(255, 255, 255, 0);
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 black;
}
.btn{
    display: block;
    border-radius: 10px;
    background: linear-gradient(145deg, #ffffff, #00ccb2);
    box-shadow:  10px 10px 20px #00a48f,
             -10px -10px 20px #00dabd;
    border: none;
    color: white;
    border: 2px solid #ffffff !important;
}
a{
    color: white !important;
    font-size: 18px!important;
    font-weight: 600 !important;
}
.btn:focus {
    outline: 0;
    box-shadow: 0 0 black;
}
.btn:hover {
    color: white !important;
    border: 2px solid #ffffff !important;
    background: #16c5ae !important;
}

@media(max-width:992px){

}


@media(max-width:768px){
    .container {
        padding: 35px;
    }
    .contact-section {
        height: 500px;
        padding: 50px;
    }
    .form-control {
        padding: 7px;
    }
}

@media(max-width:576px){
    .contact-section {
        height: 582px;
        padding: 20px;
    }
    .contact-text img{
        padding: 12px;
    }
}












